{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Welcome to Jacht</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">

      <h2>Chris and Clay's Todo List</h2>
      <ul>
        <li>Get this shit working</li>
        <li>Looks like it's working!</li>
      </ul>

      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
